In [127]:
from tabula import read_pdf
from tabulate import tabulate
import pandas as pd
import numpy

In [3]:
pdf_contents = read_pdf("Report_1600821.pdf", pages="all", multiple_tables=True)

In [4]:
pdf_content = pdf_contents
pdf_content.pop(0)
pdf_content.pop(60)

,0,1,2,3
0,NaN,NaN,Suppliers Imported,NaN
1,Import Action,Supplier,NaN,Supplier Number
2,UPDATE,Mark W LaChey dba Law Office of Mark W LaChey-...,NaN,ab:87961
3,Total Suppliers Imported,1,NaN,NaN

In [88]:
report_df = pd.DataFrame()
for i in range(len(pdf_content)):
    page = pdf_content[i]
    page = page.drop(page.index[:2])
    page = page.drop([1,3,5], axis=1)
    report_df = pd.concat([report_df, page])

In [89]:
report_df = report_df.rename(columns={0:'Interface ID',2 : 'Supplier', 4 : 'Rejection Reason' , 6 : 'Value'})

In [98]:
test_df = report_df

In [99]:
test_df[31:32]

,Interface ID,Supplier,Rejection Reason,Value
19,9454,A&B PROPERTIES,The value provided is invalid.,A&B PROPERTIES INC-

In [102]:
test_df[32:33]

  Interface ID       Supplier Rejection Reason      Value
2          NaN  INC-CMP_24066              NaN  CMP_24066

In [137]:
for (a,b,c,d) in zip(test_df["Interface ID"], test_df["Supplier"], test_df["Rejection Reason"], test_df["Value"]):

SyntaxError: unexpected EOF while parsing (<ipython-input-137-abbafdcc2f70>, line 1)

ValueError: invalid number of arguments