In [7]:
from tabula import read_pdf
from tabulate import tabulate
import pandas as pd
import numpy

In [8]:
pdf_contents = read_pdf("Report_1600821.pdf", pages="all", multiple_tables=True)

In [9]:
pdf_content = pdf_contents
pdf_content.pop(0)
pdf_content.pop(60)

,0,1,2,3
0,NaN,NaN,Suppliers Imported,NaN
1,Import Action,Supplier,NaN,Supplier Number
2,UPDATE,Mark W LaChey dba Law Office of Mark W LaChey-...,NaN,ab:87961
3,Total Suppliers Imported,1,NaN,NaN

In [105]:
report_df = pd.DataFrame()
for i in range(len(pdf_content)):
    page = pdf_content[i]
    page = page.drop(page.index[:2])
    page = page.drop([1,3,5], axis=1)
    report_df = pd.concat([report_df, page]).replace(r'\r',' ', regex=True)
    
##########   
report_df = report_df.reset_index(level=None, drop=True)

In [107]:
report_df = report_df.rename(columns={0:'Interface ID',2 : 'Supplier', 4 : 'Rejection Reason' , 6 : 'Value'})
report_df

,Interface ID,Supplier,Rejection Reason,Value
0,9936,1 Retail Investments Sales Team In Southern Ca...,The value provided is invalid.,1 Retail Investments Sales Team In Southern Ca...
1,9848,1131 Thurow- CMP_52251,The value provided is invalid.,1131 Thurow-CMP_52251
2,9628,1228 Harding Avenue- CMP_43179,The value provided is invalid.,1228 Harding Avenue- CMP_43179
3,9891,1304 S Roxbury Drive LLC-ab:91422,The value provided is invalid.,1304 S Roxbury Drive LLC- ab:91422
4,9618,14929 Lone Butte Road- CMP_50714,The value provided is invalid.,14929 Lone Butte Road- CMP_50714
...,...,...,...,...
1024,9739,insured unknown - 28EP0570- MMK:CMP:585,The value provided is invalid.,insured unknown - 28EP0570- MMK:CMP:585
1025,9435,insured unknown - 4SG03724- MMK:CMP:713,The value provided is invalid.,insured unknown - 4SG03724- MMK:CMP:713
1026,9328,insured unknown - ASD03746- MMK:CMP:735,The value provided is invalid.,insured unknown - ASD03746-MMK:CMP:735
1027,9924,insured unknown - GMV00053- MMK:CMP:801,The value provided is invalid.,insured unknown - GMV00053-MMK:CMP:801
1028,Total Suppliers Not Imported999,NaN,NaN,NaN

In [77]:
test_df = report_df

In [79]:
test_df[31:32]

,Interface ID,Supplier,Rejection Reason,Value
31,9454,A&B PROPERTIES,The value provided is invalid.,A&B PROPERTIES INC-

In [80]:
test_df[32:33]

   Interface ID       Supplier Rejection Reason      Value
32          NaN  INC-CMP_24066              NaN  CMP_24066

In [81]:
test_df[32:33]

   Interface ID       Supplier Rejection Reason      Value
32          NaN  INC-CMP_24066              NaN  CMP_24066

In [84]:
for (a,b,c,d,e) in zip(test_df["Interface ID"].isnull(),test_df["Interface ID"], test_df["Supplier"], test_df["Rejection Reason"], test_df["Value"]):
    if a == True:
        print(b,c)

nan INC-CMP_24066
nan LOC_63087
nan ASI:CMP:1052
nan 14165-LOC_14165
nan CONTRACTORS- CMP_25475
nan LABORATORIES- CMP_25849
nan ab:61395
nan ORNAMENTAL IRON- GLT:CMP:334
nan CMP_63511
nan PER_19078
nan MMK:LOC:2739
nan CMP_27676
nan SIDING INC- CMP_28085
nan Insurance 68364- LOC_68364
nan ROBERT MOR- CMP_28320
nan ASI:CMP:23967
nan 8012-LOC_8012
nan CONSTRUCTION CO- CMP_29084
nan CMP_48516
nan CMP_51271
nan UNIFORM-CMP_29956
nan ASI:CMP:12907
nan DESIGN-CMP_30192
nan PER_22938
nan ASSOCIATES
nan CPT:CMP:1157
nan 38-CMP_55478
nan ASI:LOC:26483
nan ab:99368